In [ ]:
import boto3
import numpy as np 
from src.aau.S3Manager import S3Manager
from src.utils.PathManager import Paths as Path
import pandas as pd 
import yaml

### Init S3 Manager

In [ ]:
S3 = S3Manager("config.csv")

AttributeError: type object 'Path' has no attribute 'config'

### Download well data and labels

In [ ]:
#Download all raw data
for well_code in S3.all_labelled_wells:
    S3.read_processed_data(well_code = well_code, start="2016-01-01", end="2023-01-01", nan_replace_method='zero',to_csv=True)

In [ ]:
#Download all weather data
for station in S3.all_stations:
    station_df = S3.read_solar(station,'2016-01-01','2023-01-01',to_csv=True)

In [3]:

#Download all labels
start="2016-01-01"
end="2023-01-01"
for well_code in S3.all_labelled_wells:
    S3.read_labelled_data(well_code = well_code, 
                          start=start,
                          end=end,
                          nan_replace_method='zero',
                          raw_csv=f"{well_code}_{start}_{end}_raw.csv",
                          weather_csv = f"{S3.nearest_station[well_code]}_{start}_{end}_weather.csv",
                          to_pickle=True)

Issue processing well WKT3, incomplete feature length. Feature: ROC_VOLTAGE, size: 9995

### Classify well types

In [3]:
S3.classify_voltage_type()

### Calculate transform params

In [ ]:
S3.calculate_weather_transform_params()

In [ ]:
S3.calculate_well_transform_params()

### Get label description

In [61]:
S3.get_well_label_count()
S3.well_label_count[S3.well_label_count[9]!=0]

           0   1  2    3   4   5  6   7   8   9
BIGL20   129   7  0    0   0   0  0  11  25   9
BIGL22   115   3  3    1   0  13  0  25   5  16
MOOM115  118   0  7    0   1  25  0  21   0  18
MOOM157   77   5  0    1   0   0  0  11  88   9
TIRRA80  145   1  0  147  53   1  0   1   3   2
TOOL16   160   3  0    0   0   0  0   6   0   8
WKT3     685  10  2  143  13  15  0   5   7  31

In [51]:
all_df = {}
for well in S3.label_dict:
    all_df[well] = pd.DataFrame({'labels': S3.label_dict[well].values()},index=S3.label_dict[well].keys())

In [59]:
all_df["BIGL20"]

            labels
2022-01-01       0
2022-01-02       0
2022-01-03       0
2022-01-04       0
2022-01-05       0
...            ...
2022-06-26       0
2022-06-27       0
2022-06-28       0
2022-06-29       1
2022-06-30       7

[181 rows x 1 columns]